.ApplianceForm .popupContainer form {
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: #541248;
}

.ApplianceForm button {
  position: relative;
  bottom: 1em;
  border: 2px solid white;
}
