.Header {
  background-color: #007ba7;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10em;
}

.Header #titleWhite {
  width: 200px;
  height: auto;
}

.Header h1,
.Header h2 {
  color: white;
  margin-left: 20px;
  text-decoration: none;
  font-family: "Rosarivo", serif;
}

.Header .userHeader,
.Header p {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  margin: 10px;
}

.Header button {
  margin-right: 10px;
  border-radius: 10px;
}

.Header #seeHomesButton {
  border: 1px solid white;
  padding: 3px;
  border-radius: 10px;
}

.Header #logoLetters {
  width: 5em;
  height: 10em;
}
.Header #logoWords {
  width: 5em;
  height: 10em;
}

@media only screen and (max-width: 440px) {
  .Header #titleWhite {
    width: 125px;
  }

  .Header p {
    margin: 0;
    font-size: 14px;
  }
}

@media only screen and (max-width: 320px) {
  .Header {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
}
