.HomeList li {
  list-style-type: none;
  border: 2px black solid;
  border-radius: 10px;
  background-color: #046307;
  color: white;
  width: 46vh;
}

.HomeList {
  padding: 5px;
  display: flex;
}

@media only screen and (max-width: 768px) {
  .HomeList {
    display: flex;
    flex-direction: column;
  }
}
