@media only screen and (min-width: 600px) {
  .LandingPage .landingFlex {
    display: flex;
  }
  .LandingPage .landingFlex p {
    width: 70%;
  }
}

.LandingPage .signInButton {
  height: 40px;
}

.LandingPage #peakVisualContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.LandingPage #pieVisualIntro {
  position: absolute;
  top: 17em;
}

.LandingPage span {
  font-weight: bold;
}

.LandingPage .blueCircle {
  border-radius: 50%;
  border: 1px solid #007ba7;
  background-color: #007ba7;
  height: 150px;
  width: 150px;
  position: absolute;
}
.LandingPage .whiteCircle {
  border-radius: 50%;
  border: 1px solid #fff;
  background-color: #fff;
  height: 130px;
  width: 130px;
  position: absolute;
}

.LandingPage #logoWords {
  width: 3em;
  height: 8em;
  position: relative;
  left: 3em;
}

.LandingPage .logoAndMeterContainer {
  display: flex;
}
