.LandingPage h2,
.LandingPage h3 {
  text-align: center;
}

.LandingPage .signInButton {
  height: 40px;
}

.LandingPage #pieChartIntro p {
  margin: 0;
}

.LandingPage #peakVisualContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.LandingPage #dtePie {
  width: 50vw;
}

.LandingPage #utilityCardContainer h4 {
  text-align: center;
}

.LandingPage .card {
  border: 2px solid #541248;
  border-radius: 4px;
  position: relative;
  transform-style: preserve-3d;
  transition: 300ms;
  cursor: pointer;
  transform: perspective(1000px) rotateY(var(--rotate-y, 0))
    translateY(var(--translate-y, 0));
}

.LandingPage .flip {
  --rotate-y: 180deg;
}

.LandingPage .card .back {
  transform: rotateY(180deg);
}

.LandingPage span {
  font-weight: bold;
}

.LandingPage .blueCircle {
  border-radius: 50%;
  border: 1px solid #007ba7;
  background-color: #007ba7;
  height: 150px;
  width: 150px;
  /* position: absolute; */
}
.LandingPage .whiteCircle {
  border-radius: 50%;
  border: 1px solid #fff;
  background-color: #fff;
  height: 130px;
  width: 130px;
  /* position: absolute; */
}

.LandingPage #logoWords {
  width: 3em;
  height: 8em;
  position: relative;
  left: 3em;
}

.LandingPage footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.LandingPage footer a {
  padding: 10px;
  border: 2px solid #007ba7;
  border-radius: 10px;
}

@media only screen and (max-width: 600px) {
  .LandingPage #peakVisualContainer {
    display: flex;
    flex-direction: column;
  }

  .LandingPage #dtePie {
    width: 80vw;
  }
}
