.LandingPage h2,
.LandingPage h3 {
  text-align: center;
  margin: 0 10px;
}

.LandingPage #landingIntro {
  position: relative;
}

.LandingPage #landingIntro h2 {
  position: absolute;
  text-align: left;
  text-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
  background-color: rgba(255, 255, 255, 0.2);
  margin-left: 10px;
}

@media only screen and (max-width: 600px) {
  .LandingPage #landingIntro h2 {
    font-size: 12px;
  }
}

.LandingPage #overPeakImg {
  width: 100%;
  margin: 0;
}

.LandingPage .signInButton {
  height: 40px;
}

.LandingPage #pieChartIntro {
  margin: 0 10px;
}

.LandingPage #pieChartIntro #pieChartIntroPara {
  color: white;
  font-size: 1.5em;
}

.LandingPage #peakVisualContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #007ba7;
  width: 100%;
}

.LandingPage #dtePie {
  width: 50vw;
}

.LandingPage #utilityCardContainer h4 {
  text-align: center;
  margin-top: 0;
}

.LandingPage #utilityCardContainer p {
  margin: 10px 5px 0 5px;
  font-size: 1em;
}

.LandingPage .card {
  border: 2px solid #541248;
  border-radius: 4px;
  position: relative;
  transform-style: preserve-3d;
  transition: 300ms;
  cursor: pointer;
  transform: perspective(1000px) rotateY(var(--rotate-y, 0))
    translateY(var(--translate-y, 0));
  margin: 0 10px;
}

.LandingPage #dteCardContainer {
  background-color: #046307;
  color: white;
}

.LandingPage #consumersCardContainer {
  background-color: #541248;
  color: white;
}

.LandingPage #flipIcon {
  width: 30px;
  height: 30px;
}

.LandingPage .flip {
  --rotate-y: 180deg;
}

.LandingPage .card .back {
  transform: rotateY(180deg);
}

.LandingPage span {
  font-weight: bold;
}

.LandingPage #chosenContainer {
  display: inline-block;
  background-color: rgb(203, 197, 197);
  margin: 0;
  border-radius: 10px;
  padding: 4px;
}

.LandingPage #selectUtilityContainer p {
  font-size: 20px;
  cursor: pointer;
}

.LandingPage .chosenUtility {
  background-color: white;
  color: #007ba7;
  border-radius: 10px;
  padding: 2px;
  transition: 800ms;
}

.LandingPage #thoughtBubble {
  height: 30vh;
  width: 50vw;
}

.LandingPage #thoughtContainer p {
  margin: 0;
  position: relative;
  width: 46vw;
  bottom: 8em;
  left: 14em;
}

.LandingPage table {
  width: 100%;
  font-size: 18px;
}

.LandingPage tr,
.LandingPage td {
  width: 90%;
  display: flex;
  justify-content: space-around;
}

.LandingPage .sampleRateFormContainer h3,
.LandingPage .sampleRateFormContainer p {
  text-align: center;
  margin: 0;
}

.blueCircle {
  border-radius: 50%;
  border: 1px solid #007ba7;
  background-color: #007ba7;
  height: 150px;
  width: 150px;
  /* position: absolute; */
}
.whiteCircle {
  border-radius: 50%;
  border: 1px solid #fff;
  background-color: #fff;
  height: 130px;
  width: 130px;
  /* position: absolute; */
}

#logoWords {
  width: 3em;
  height: 8em;
  position: relative;
  left: 3em;
}

.LandingPage footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.LandingPage footer a {
  padding: 10px;
  border: 2px solid #007ba7;
  border-radius: 10px;
  margin-right: 20px;
}

@media only screen and (max-width: 768px) {
  .LandingPage #peakVisualContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .LandingPage #dtePie {
    width: 80vw;
    position: relative;
    left: 10%;
  }
}
