.SampleApplianceForm {
  background-color: #007ba7;
  color: white;
  border: 2px solid white;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  width: 50vw;
  padding: 10px;
}

#formAndShowDataContainer {
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: space-between;
}

#dataResults {
  width: 94vw;
}

.SampleApplianceForm #radioContainer {
  display: flex;
}
.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

#costContainer {
  display: flex;
}

@media only screen and (max-width: 674px) {
  .SampleApplianceForm #radioContainer {
    display: flex;
    flex-direction: column;
  }
  .SampleApplianceForm {
    width: 80vw;
  }
  #formAndShowDataContainer {
    display: flex;
    flex-direction: column;
  }
}
