.App html,
.App body,
.App h1 {
  margin: 0;
}

a {
  text-decoration: none;
}

.App,
.App button,
.App form,
.App label,
.App input,
.App select {
  font-family: "Prata", serif;
}

.App ul {
  list-style-type: none;
}
